.r-st0{fill:#A11F3E;}
.r-st1{fill:none;stroke:#F700F7;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.r-st2{fill:rgb(254, 221, 61);}
.r-st3{opacity:0.5;fill:none;stroke:#845757;stroke-width:1.5;stroke-miterlimit:10;}
.r-st4{opacity:0.1;fill:none;stroke:#000000;stroke-miterlimit:10;}
.r-st5{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.r-st6{fill:#FFFFFF;stroke:#666666;stroke-width:4;stroke-miterlimit:10;}
.r-st7{fill:#FFFFFF;}
.r-st8{fill:none;stroke:#666666;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.r-st9{fill:#FFFFFF;stroke:#666666;stroke-width:2;stroke-miterlimit:10;}
.r-st10{fill:none;stroke:#666666;stroke-linejoin:round;}
.r-st11{fill:none;stroke:#666666;stroke-linejoin:round;stroke-dasharray:2.0026,2.0026;}


/*.r-st12{fill:none;stroke:#000000;stroke-miterlimit:10;}
  .r-st13{fill:none;stroke:#000000;stroke-miterlimit:10;stroke-dasharray:3;}*/
.r-st14, .r-st12, .r-st13{fill:none;}
