.l-st0{fill:#A11F3E;}
.l-st1{fill:none;stroke:#F700F7;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.l-st2{fill:rgb(254, 221, 61);}
.l-st3{opacity:0.5;fill:none;stroke:#845757;stroke-width:1.5;stroke-miterlimit:10;}
.l-st4{opacity:0.1;fill:none;stroke:#000000;stroke-miterlimit:10;}
.l-st5{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.l-st6{fill:#FFFFFF;stroke:#666666;stroke-width:4;stroke-miterlimit:10;}
.l-st7{fill:#FFFFFF;}
.l-st8{fill:none;stroke:#666666;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.l-st9{fill:#FFFFFF;stroke:#666666;stroke-width:2;stroke-miterlimit:10;}
.l-st10{fill:none;stroke:#666666;stroke-linejoin:round;}
.l-st11{fill:none;stroke:#666666;stroke-linejoin:round;stroke-dasharray:2.0026,2.0026;}


/*.l-st12{fill:none;stroke:#000000;stroke-miterlimit:10;}
  .l-st13{fill:none;stroke:#000000;stroke-miterlimit:10;stroke-dasharray:3;}*/
.l-st12, .l-st13, .l-st14{fill:none;}
