.b-st0{fill:rgb(254, 221, 61);}
.b-st1{fill:none;stroke:#6E6E6E;stroke-width:2.5;stroke-miterlimit:10;}
.b-st2{fill:#FFFFFF;}
.b-st3{fill:none;stroke:#6E6E6E;stroke-width:2.5;stroke-linejoin:round;stroke-miterlimit:10;}
.b-st4{fill:#6E6E6E;}
.b-st5{fill:none;stroke:#6E6E6E;stroke-width:1.2;stroke-linejoin:round;}
.b-st6{fill:none;stroke:#6E6E6E;stroke-width:1.2;stroke-linejoin:round;stroke-dasharray:2.9618,2.9618;}
.b-st7{fill:none;stroke:#6E6E6E;stroke-width:1.2;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
/*.b-st8{fill:none;stroke:#000000;stroke-miterlimit:10;}*/
/*.b-st9{fill:none;stroke:#000000;stroke-miterlimit:10;stroke-dasharray:3;}*/
.b-st10, .b-st8, .b-st9{fill:none;}
