<!--
<div class="product-design-view clearfix outline" id="reviewComp">
  <div id="front" class="col-sm">
    <canvas id="frontCanvas"></canvas>

  </div>

  <div id="back" class="col-sm">
    <canvas id="backCanvas"></canvas>
  </div>

  <div id="left" class="col-sm">
    <canvas id="leftCanvas"></canvas>
  </div>

  <div id="right" class="col-sm">
    <canvas id="rightCanvas"></canvas>
  </div>

  <div id="inner" class="col-sm">
    <canvas id="innerCanvas"></canvas>
  </div>
</div>
-->

<div id="reviewMenu">
  <button mat-raised-button color="accent" class="pd-t-20 direction-button" (click)="goBack()">
    Go Back
  </button>
  <button mat-raised-button color="warn" class="direction-button pd-t-20 col-xs-5 col-xs-offset-2" (click)="finish()">
    Finish
  </button>
</div>






